<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>

          <!-- <input #nameInput type="text" id="name" class="form-control" placeholder="Name"> -->

          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Name"
            name="name"
            ngModel
            required
          >

        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>

          <!-- <input #amountInput type="text" id="amount" class="form-control" placeholder="Amount"> -->

          <input
            type="number"
            id="amount"
            class="form-control"
            placeholder="Amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >

        </div>
      </div>
      <div class="row">
        <div class="col-sx-12">
          <!-- <button class="btn btn-success" (click)="onAddItem()" type="submit" style="margin-left: 15px">Add</button> -->
          <button class="btn btn-success" type="submit" style="margin-left: 15px" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" style="margin-left: 15px" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" style="margin-left: 15px" (click)="onCancel()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
